/* mobile only */

@media (max-width: 540px) {
    .main-nav {
        position: fixed;
        left: 0px;
        right: 0px;
        background-color: var(--clr1);
        flex-direction: column;
        width: 100%;
        top: 66px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    body.menu-open .main-nav {
        pointer-events: auto;
        transform: translateX(0);
    }
    .main-header .main-nav a {
        width: 100%;
    }
    .main-header .main-nav a {
        border-bottom: 1px solid var(--clr3);
    } 
    .toggle-menu {
        margin-inline: 10px;
        border: none;
        color: var(--clr3);
        background-color: var(--clr1);
        font-size: 1.5em;
    } 
    canvas {
        margin-bottom: 20px;
    }
}

/* SMAll */


@media (min-width: 540px) {
    .toggle-menu {
        display: none;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        gap: 30px;
        padding-block: 30px;
    }
    canvas {
        margin-bottom: 20px;
    }
}


/* MEDIUM */

@media (min-width: 0px) {}

/* LARGE */

@media (min-width: 1000px) {
    .main-layout>*:not(.full) {
        max-width: var(--large);
    }
    .main-content {
        flex-direction: row;
    }
    canvas {
        margin-inline-start: 10px;
        margin-inline-end: 90px;
        margin-bottom: 0;
    }
}