* {
    box-sizing: border-box;
}

html {
    font-family: montserrat, serif;
    color: var(--clr4);
    /* line-height: 1.714; */
}

body {
    margin: 0;
    /* font-size: 0.875rem; */
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
