.main-layout>*:not(.full) {
    max-width: var(--small);
    margin: 0 auto;
    box-sizing: content-box;
}

.editor {
    display: none;
}

body.editor-open .editor {
    display: unset;
}

body.editor-open .gallery {
    display: none;
}



