.editor-content {
    background-color: var(--clr2);
    min-height: 75vh;
    /* min-height: 600px; */
    padding-block: 30px;
}

/* .canvas-container {
    background-color: var(--clr2);
    margin: 0 auto;
    width: 90vw;
    height:90vw;
} */

.main-content {
    flex-direction: column;
}

.main-content >* {
    justify-content: center;
    align-items: center; 
}

.generator-container {
    flex-direction: column;
    text-align: center;
    margin-block-start: 20px;
}

canvas {
    display: flex;
    background-color: var(--clr3);
    margin: 10px;
}

.generator .input-txt {
    font-family: impact, serif;
    color: var(--clr6);
    font-size: 1em;
    padding: 0.4em;
    border-radius: 4px;
}

/* .file-input {
    background-color: var(--clr3);
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: var(--clr4);
    font-family: montserra;
    font-size: 1em;
    margin-inline-start: 10px;
    padding: 10px;
    text-align: center;
} */

.generator .share {
    background-color: var(--clr1);
    font-family: montserrat, serif;
    font-size: 1em;
    width: 65px;
    height: 42px;
    margin: 5px;
    padding: 5px;
    
}

.generator .download {
    background-color: var(--clr1);
    width: 65px;
    height: 55px;
    border: none;
    border-radius: 10px;
    color: var(--clr4);
    font-family: montserrat, serif;
    font-size: 1em;
    margin: 5px;
    padding: 10px;
}

.fill-style {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: var(--clr3);
    /* background-image: url("../icons/paint-board.png"); */
    font-family: montserrat-bold, serif;
    margin: 5px;
    padding: 5px;
}

.stroke-style {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: var(--clr3);
    /* background-image: url("../icons/paint-board.png"); */
    font-family: montserrat-bold, serif;
    margin: 5px;
    padding: 5px;
}

.generator .select {
    border-radius: 4px;
    font-family: montserrat, serif;
    color: var(--clr6);
    font-size: 1em;
    padding: 0.2em;
}

body.updown-clicked .up-down:hover {
    border: 1px solid var(--clr1);
}
body.add-clicked .add:hover {
    border: 1px solid var(--clr1);
}
body.trash-clicked .trash:hover {
    border: 1px solid var(--clr1);
}
body.center .center:hover {
    border: 1px solid var(--clr1);
}
body.right .right:hover {
    border: 1px solid var(--clr1);
}
body.left .left:hover {
    border: 1px solid var(--clr1);
}
body.size-up-clicked .increase-font:hover {
    border: 1px solid var(--clr1);
}
body.size-down-clicked .decrease-font:hover {
    border: 1px solid var(--clr1);
}
body.font-clicked .text-stroke:hover {
    border: 1px solid var(--clr1);
}
body.color-clicked .paint-board:hover {
    border: 1px solid var(--clr1);
}