.editor-content {
    background-color: var(--clr2);
    min-height: 75vh;
    /* min-height: 600px; */
    padding-block: 30px;
}

.main-content {
    flex-direction: column;
}
.main-content >* {
    justify-content: center;
    align-items: center;
    
}

.generator-container {
    flex-direction: column;
}

canvas {
    display: flex;
    background-color: #fff;
    margin-inline: 10px;
    /* margin-inline-end: 100px; */
}


.generator .input-up {
    font-family: montserrat, serif;
    color: var(--clr6);
    font-size: 1em;
    padding: 0.2em;
}

.generator .input-down {
    font-family: montserrat, serif;
    color: var(--clr6);
    font-size: 1em;
    padding: 0.2em;
}

.generator .share {
    background-color: var(--clr1);
}