.grid-container {
    background-color: var(--clr2);
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    gap: 30px;
    padding-block: 30px;
    padding-inline: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}