.grid-container {
    min-height: 66vh;
    background-color: var(--clr2);
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    gap: 10px;
    padding-block: 10px;
    padding-inline: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.grid .img:hover {
    border: 4px solid transparent;
}

