@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: eurof55;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: eurof75;
    src: url(/fonts/eurof75.ttf);
}

@font-face {
    font-family: impact;
    src: url(/fonts/impact.ttf);
}

