:root {
    /* color palete */
    --clr1: #ff7f00;
    --clr2: #e3e3e3;
    --clr3: #ffffff;
    --clr4: #06062c;
    --clr5: #070033;
    --clr6: #8c8c8c;

    --large: 1000px;
    --medium: 0px;
    --small: 0px;
}